NODE_ENV=local
BASE_URL=http://localhost:3002
API_URL=http://localhost:3002/api
EMAIL_USER=admin@bookstore.com
EMAIL_PASS=admin123
DB_DSN=postgres://postgres.ylhwnprqovztcsmnxwkj:uYT2gsXSt5oEWDi6@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&pgbouncer=true
ACCOUNT_POOL_TABLE=test_account_leases



